epoch_8.pth filter=lfs diff=lfs merge=lfs -text
20230205_210804.log filter=lfs diff=lfs merge=lfs -text
20230205_210804.log.json filter=lfs diff=lfs merge=lfs -text
efficientnet-b4_8xb32-01norm_in1k.py filter=lfs diff=lfs merge=lfs -text
epoch_1.pth filter=lfs diff=lfs merge=lfs -text
epoch_2.pth filter=lfs diff=lfs merge=lfs -text
epoch_5.pth filter=lfs diff=lfs merge=lfs -text
epoch_7.pth filter=lfs diff=lfs merge=lfs -text
epoch_3.pth filter=lfs diff=lfs merge=lfs -text
epoch_4.pth filter=lfs diff=lfs merge=lfs -text
epoch_6.pth filter=lfs diff=lfs merge=lfs -text
epoch_9.pth filter=lfs diff=lfs merge=lfs -text
latest.pth filter=lfs diff=lfs merge=lfs -text
epoch_15.pth filter=lfs diff=lfs merge=lfs -text
cd[[:space:]]~ filter=lfs diff=lfs merge=lfs -text
cd[[:space:]]~.pub filter=lfs diff=lfs merge=lfs -text
.pth filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
